.site-header {
    background:url(images/slvrblu/logo_bg.png);
}
.site-title a, .site-title a:visited{
	color:#000;
}
.tinynav { background:#d45b60; color:#fff; border:1px solid #362c13; }

.main-navigation li:hover {
	background:#d45b60;
}
.main-navigation a {
	color:#000;
}
.main-navigation ul ul {
	background:#d45b60;
}
.main-navigation ul ul a {
	color:#000;
}
.main-navigation ul ul li:hover {
	background:#c5565a;
}
.main-navigation li.current_page_item,
.main-navigation li.current-menu-item {
	background:#d45b60;	
}
.nav-border-top{
	border-top:1px solid #362c13;
}
.site-slider{
	background:url(images/slvrblu/header_bg.png);
}
.site-slider-slider-one-text-heading{
	color:#000;
	text-shadow:none;
}
.site-slider-slider-one-text-description{
	color:#000;
}
.site-slider-slider-one-text-button a {
    background: none repeat scroll 0 0 #ea636b;
    border-bottom: 4px solid #d4545c;
    color: #000;
}
.biz0ne-products-services-img {
    background: none repeat scroll 0 0 #c2c2c2;
}
.biz0ne-quote, .biztwo-quote {
    background:#c2c2c2;
	border:none;
}
.biz0ne-quote-text {
    background: url(images/slvrblu/quote.png) no-repeat;
}
.biz0ne-quote-name span {
    background:#b4b3b3;
}
.biztwo-portfolio {
    background:#c2c2c2;
}
.widget-area {
    background:#c2c2c2;
}
.widget ul li{
	border-bottom:1px solid #b4b3b3;
}
.search-field{
	background:#b4b3b3 !important;
}
.widget select{
	background:#b4b3b3;
}


/* =Content
----------------------------------------------- */
.more-link{
	background:#c2c2c2;
}
.page-links a{
	background:#c2c2c2;
}
.post .entry-title{
	border-bottom:1px solid #c2c2c2;
}
.entry-meta{
	border-bottom:1px solid #c2c2c2;	
}
.entry-meta-bottom{
	border-top:1px solid #c2c2c2;
}
.entry-meta-bottom-item{
	border-bottom:1px solid #c2c2c2;
}
.entry-meta-bottom-item a{
	background:#c2c2c2;
}
pre{
	background:#c2c2c2;
}
blockquote{
	border-left: 1em solid #c2c2c2;
}

/* =Media
----------------------------------------------- */
.wp-caption {
	border: 1px solid #c2c2c2;
}


/* =Navigation
----------------------------------------------- */
.post-navigation{
	background:#c2c2c2;
}
.post-navigation .nav-previous{
	background:url(images/single_np_prev.png) no-repeat left;
}
.post-navigation .nav-next{
	background:url(images/single_np_next.png) no-repeat right;		
}
.paging-navigation .nav-previous{
	background:#c2c2c2 url(images/single_np_prev.png) no-repeat left center;
}
.paging-navigation .nav-next{
	background:#c2c2c2 url(images/single_np_next.png) no-repeat right center;
}

/* =Comments
----------------------------------------------- */
.comments-area{
	background:#c2c2c2;
}
.comment-navigation .nav-previous a{
	background:#b4b3b3;
}
.comment-navigation .nav-next a{
	background:#b4b3b3;
}
.comment-author cite{
	background:url(images/ten.png);
}
.comment-body .reply a{
	background:#000;
	color:#fff;
}

.footer-social {
    background:url(images/slvrblu/social.png);
}
.site-footer {
    background:url(images/slvrblu/footer_bg.png);
}
.site-info h3 a{
	color:#000;
}
.site-info p {
    color:#000;
}
.site-info p a {
    color:#000;
}
/* Footer Widgets */
.site-footer .widget {
	color:#000;
}
.site-footer .widget a{
	color:#000;
}
.site-footer .widget h1 {
	color:#000;
}
.site-footer .widget ul li{
	border-bottom:1px solid #8f9a98;
}
.site-footer .widget ul li a{
	color:#000;
}
.site-footer .search-field{
	background:#8f9a98 !important;
	color:#000;
}
.site-footer .search-submit{
	background:#000 !important;
	color:#fff !important;
}
.site-footer .wp-caption {
	border: 1px solid #8f9a98;
}
.wpcf7-text{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;
}
.wpcf7-textarea{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;
}
.wpcf7-select{
	background:#d4cbb0 !important;
	border:none;
}
.wpcf7-quiz{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;
}
.wpcf7-date{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;	
}
.wpcf7-number{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;	
}
.wpcf7-captchar{
	background:#d4cbb0 !important;
	border:3px solid #c7bea4 !important;	
}
.wpcf7-submit{
	background:#000 !important;
	color:#fff !important;
	padding:1.0em 3em !important;
	box-shadow:none !important;
	text-shadow:none !important;
}